@model ThAmCo.Events.Models.EventsCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" id="inputDate"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" id="inputDuration"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId">
                    <option value="" disabled selected hidden>Please select an event type.</option>
                </select>
				<span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="VenueCode" class="control-label"></label>
                <select asp-for="VenueCode" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" disabled/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	@*<script type="text/javascript">
        function TypeChange() {
            $.ajax({
                url: "http://localhost:23652/api/Reservations/", //reservations/data + venuecode
                method: "GET",
                crossDomain: true,
                success: function (response) {
                    var options = '';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value=""></option>';
                    }
                },
                error: function () {
                    alert("Data was not retrieved successfully.");
                }
            });
		}
	</script>*@
}
